div {}

h1 {
    color: #829c00;
    font-size: 14px;
}

div.active {
    color: #829c00;
}

.box {
    font-size: 14px;
    overflow: hidden;
    padding: 10px;
    margin: 100px;
}

.ir {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    background: url(http://heem.net/fastcampus/2/image2.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}

.gift {
    background-position: 0 -100px;
}

.coffee {
    background-position: 0 -200px;
}